---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="https://scholar.google.com/citations?user=raAzOHoAAAAJ&hl=en&oi=ao">my Google Scholar profile</a>.</div>
{% endif %}

{% assign publications = site.publications | sort: "date" | reverse %}
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign category_publications = publications | where: "category", category[0] %}
    {% if category_publications.size > 0 %}
      <h2 class="publication-section-title">{{ category[1].title }}:</h2>
      <ul class="publication-list">
        {% for publication in category_publications %}
          <li>{% include publication-citation.html publication=publication %}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% else %}
  <ul class="publication-list">
    {% for publication in publications %}
      <li>{% include publication-citation.html publication=publication %}</li>
    {% endfor %}
  </ul>
{% endif %}
