.research-page {
  .research-section {
    margin-top: 2.5em;
  }

  h2 {
    margin-bottom: 1em;
    font-size: 1.25em;
  }

  h3 {
    margin-top: 0;
    font-size: 1em;
  }

  .research-section__body {
    display: grid;
    gap: 1.5em;

    @include breakpoint($medium) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    }
  }

  .research-section__images {
    a {
      display: block;
      max-width: 28em;
      margin: 0 auto 1em;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
